body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#minesweeper-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.cell.revealed {
  background-color: #fff;
  cursor: default;
  animation: sparkle 0.5s ease-in-out;
}

.cell.mine {
  background-color: #ff4f4f;
}

.cell.flagged {
  background-color: #87cceb;
}

.mode-button {
  font-size: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}

.mode-button:hover {
  color: #ff4f4f;
}

.alert {
  font-size: 24px;
  font-weight: bold;
  color: #ff4f4f;
  margin-bottom: 10px;
}

.cell.revealed.mine {
  animation: explosion 0.5s ease-in-out;
}

/* Sparkle Animation */
@keyframes sparkle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
    filter: brightness(1); /* Bright yellow effect */
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
    filter: brightness(5); /* Increase brightness for sparkle effect */
  }
}

/* Explosion Animation */
@keyframes explosion {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
